<div class="container-fluid">
  <div class="row" style="background-color: #F54945;">
    <div class="col-lg-1 col-md-1 col-sm-1" >
      <img class="img-header-logo" src="assets/images/logo.png" alt="Logo">
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
      <kendo-autocomplete [data]="Names" [placeholder]="'Buscar en la Red Social'" #autocomplete>
      </kendo-autocomplete>
    </div>

    <div class="col-lg-6">
      <div class="text-right">

      </div>
    </div>

  </div>
</div>
