.container-fluid{
background-color: #F54945;
}

.login-panel{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    background-color: #F54945;
    border: none;
}

.img-logo{
    width: 400px;
    margin: 0 auto;
}

.col-form-label{
    color: #FFFFFF;
}

.footer-panel{
    padding: 100px 0px;
    padding: 10px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-footer{
    width: 100px;
    margin: 0 auto;
    display: flex;
}